<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://d.pcs.baidu.com/file/42d8e1e43aed6d4e0d08ecf7adb4d4fe?fid=788620998-250528-1040365237256281&time=1429449401&rt=sh&sign=FDTAERV-DCb740ccc5511e5e8fedcff06b081203-Ng6wlIV2LJuMsqJChMLqe9K1hWU%3D&expires=8h&prisign=GF6x2T2CVlRV01o7Pki028kp4XDNjnf6DEaBONVnjf612EcuJMuRsnKz+HfXG/Q2MvIBe085VS9aI615474BAfgqed3TucCofWlE5y7Vq0gL9lQi8Lp8+RoXS69TsChhAroHLuuZ1uozUG7s5CSdEFPpNTVGdp8LVKYdXU5De03Sn8YnIkQnGv7SEug66iIndt9qVvQXRBFwba0VAqyZNn5noRCkmzONf5KM/MQe0cDjSdYZPRzSFWgzSQKF2gzLQ09N4TWiqp4=&chkv=1&chkbd=0&chkpc=&r=248754368</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<false/>
					<key>url</key>
					<string></string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<false/>
					<key>url</key>
					<string></string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>cn.mz.beautyassistant</string>
				<key>bundle-version</key>
				<string>0.0.1</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>BeautyAssistant</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>